.DS_Store
*.app
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcworkspace/contents.xcworkspacedata
emptyExample.xcodeproj/project.xcworkspace/xcuserdata/yamamoto.xcuserdatad/UserInterfaceState.xcuserstate
